/*.editor {
  margin-top: 20px;
}

.editor-wrapper {
  display: inline-block;
  height: 100%;
  width: 70vw;
}*/

/*.commits-wrapper {
  display: inline-block;
  min-height: 200px;
  min-width: 200px;
  background-color: red;
}*/